/**
 * COLORS
 */
*{
    user-select: none;
}
 :root{
    --purple: #BC1677;
    --purple-black: #13000B;
    --purple-strong: #441347;
    --purple-white: #EAC5FF;
    --purple-transparente: #eac5ff53;
    --black1F: #1F1F1F;
    --black0A: #0A0A0A;
    --blackghost: #00000098;
    --negro: rgb(43,43,43);
    --plomo-transparente: rgba(128, 128, 128, 0.367);
    --verde: #00FF66;
    --verde-transparente: #00ff6695;
    --amarillo: #FFC700;
    --rojo: #FF5353;
    --azul: #00A3FF;
}
.overflow-auto::-webkit-scrollbar{
    background-color: transparent;
    max-width: 7px;
    max-height: 10px;
}
.overflow-auto::-webkit-scrollbar-thumb{
    background-color: var(--purple);
}
.overflow-auto::-webkit-scrollbar-button{
    width: 0px;
    height: 0px;
}
/**
 * DASHBORADS
 */
/* body{
    background-color: yellow;
} */
main{
    position: relative;
    box-sizing: border-box;
    z-index: 90;
}
.dashboard-1{
    box-sizing: border-box;
    margin: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.dashboard-1 > .header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.img-w-title{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}
/**
 * TEXT COLOR's
 */
.blue{
    color: var(--azul);
}
.green{
    color: var(--verde);
}
/**
 * BG-COLORS
 */
.bg-black{
    background-color: var(--negro);
    color: white;
}
.bg-black1F{
    background-color: var(--black1F);
    color: white;
}
.bg-black0A{
    background-color: var(--black0A);
    color: white;
}
.bg-purple-black{
    background-color: var(--purple-black);
    color: white;
}
.bg-purple-strong{
    background-color: var(--purple-strong);
    color: white;
}
.bg-red{
    background-color: var(--rojo);
    color: white;
}
.bg-green{
    background-color: var(--verde);
    color: black;
}
.opacity05{
    opacity: 0.5;
}
.bg-blue{
    background-color: var(--azul);
    color: white;
}
.bg-yellow{
    background-color: var(--amarillo);
    color: black;
}
.bg-purple{
    background-color: var(--purple);
    color: white;
}
.bg-white{
    background-color: white;
    color: black;
}
.bg-blackt{
    background-color: var(--blackghost);
}
.bg-transparent{
    background-color: transparent;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    width: 100%;
    height: 100%;
}
/**
 * ========= usuario menu =========
 */
.user-box{
    position: relative;
}
.on-menu-user:checked + div{
    transition: .5s;
    height: 140px;
    box-shadow: none;
    padding: 0;
}
.user-data{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.v-hidden{
    visibility: hidden;
}
.v-visible{
    visibility: visible;
}
/**
 * ========= FIN DE OPCIONES DE USUARIOS =========
 */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.sticky{
    position: sticky;
    top: 0%;
}
.fixed{
    position: fixed;
}
/**
 * SELECT
 */
.select{
    position: relative;
}
.select:focus + div{
    visibility: visible;
}
/* .select:hover + div{
    visibility: visible;
} */
.options:hover{
    visibility: visible;
}
.options{
    position: absolute;
    overflow: auto;
    top: 70px;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    box-sizing: border-box;
    visibility: hidden;
}
.options::-webkit-scrollbar{
    padding: 10px;
    width: 7px;
}
.options::-webkit-scrollbar-thumb{
    margin: 10px;
    border-radius: 50px;
    background-color: var(--negro);
}
.options::-webkit-scrollbar-track{
    margin: 5px;
}
.opt{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.item{
    cursor: pointer;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.item-radio{
    position: absolute;
    visibility: hidden;
}
.item-radio > label{
    cursor: pointer;
}
.item-radio:checked + label{
    background-color: rgb(43,43,43);
    color: white;
}
/**
 * week
 */
.pointer{
    /* transition: .5s; */
    cursor: pointer;
}
/* .pointer:hover{
    transition: .2s;
    transform: scale(1.2);
} */
.dias:checked + label{
    background-color: var(--purple);
    color: white;
}
/**
 * BUTTON's
 */
.btn{
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.btn-w-i{
    display: flex;
    align-items: center;
}
.btn-purple-icon{
    height: 100%;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
}
.btn-purple-icon:hover{
    background-color: var(--purple-strong);
}
.btn-text{
    border-left: 1px solid var(--purple-transparente);
    padding: 0px 20px;
}
.btn-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**
 * PADDING's
 */
.p5{
    padding: 5px;
}
.p10{
    padding: 10px;
}
.p15{
    padding: 15px;
}
.p20{
    padding: 20px;
}
.p25{
    padding: 25px;
}
.p30{
    padding: 30px;
}
.p35{
    padding: 35px;
}
.p40{
    padding: 40px;
}
.p45{
    padding: 45px;
}
.p50{
    padding: 50px;
}
.vp5{
    padding: 5px 0px;
}
.vp10{
    padding: 10px 0px;
}
.vp15{
    padding: 15px 0px;
}
.vp20{
    padding: 20px 0px;
}
.vp25{
    padding: 25px 0px;
}
.vp30{
    padding: 30px 0px;
}
.vp35{
    padding: 35px 0px;
}
.vp40{
    padding: 40px 0px;
}
.vp45{
    padding: 45px 0px;
}
.vp50{
    padding: 50px 0px;
}
.hp5{
    padding: 0px 5px;
}
.hp10{
    padding: 0px 10px;
}
.hp15{
    padding: 0px 15px;
}
.hp20{
    padding: 0px 20px;
}
.hp25{
    padding: 0px 25px;
}
.hp30{
    padding: 0px 30px;
}
.hp35{
    padding: 0px 35px;
}
.hp40{
    padding: 0px 40px;
}
.hp45{
    padding: 0px 45px;
}
.hp50{
    padding: 0px 50px;
}

/**
 * MARGIN's
 */
.m5{
    margin: 5px;
}
.m10{
    margin: 10px;
}
.m15{
    margin: 15px;
}
.m20{
    margin: 20px;
}
.m25{
    margin: 25px;
}
.m30{
    margin: 30px;
}
.m35{
    margin: 35px;
}
.m40{
    margin: 40px;
}
.m45{
    margin: 45px;
}
.m50{
    margin: 50px;
}
/**
 * BORDER RADIUS - PIXEL's
 */
.br5{
    border-radius: 5px;
}
.br7{
    border-radius: 7px;
}
.br10{
    border-radius: 10px;
}
.br15{
    border-radius: 15px;
}
.br20{
    border-radius: 20px;
}
.br30{
    border-radius: 30px;
}
.br40{
    border-radius: 40px;
}
.br50{
    border-radius: 50px;
}
/**
 * BORER RADIUS - PORCENTAGE
 */
.brp5{
    border-radius: 5%;
}
.brp7{
    border-radius: 7%;
}
.brp10{
    border-radius: 10%;
}
.brp20{
    border-radius: 20%;
}
.brp30{
    border-radius: 30%;
}
.brp40{
    border-radius: 40%;
}
.brp50{
    border-radius: 50%;
}
.brp60{
    border-radius: 60%;
}
/**
 * FORMAT OF TEXT's
 */
.mayus{
    text-transform: uppercase;
}
.minus{
    text-transform: lowercase;
}
.space-nw{
    white-space: nowrap;
}
.negrita{
    font-weight: bold;
}
.negrota{
    font-weight: bolder;
}
/**
 * FONT SIZE's
 */
.fz8{
    font-size: 8px;
}
.fz11{
    font-size: 11px;
}
.fz15{
    font-size: 15px;
}
.fz20{
    font-size: 20px;
}
.fz25{
    font-size: 25px;
}
.fz30{
    font-size: 30px;
}
.fz40{
    font-size: 40px;
}
.fz50{
    font-size: 50px;
}
.fz60{
    font-size: 60px;
}
.fz70{
    font-size: 70px;
}
.fz80{
    font-size: 80px;
}
/**
 * BOX SHADOW's
 */
.b-shadow{
    box-shadow:  0 0 5px 1px gray;
}
.b-shadow-5-1-gray{
    box-shadow: 0 0 5px 1px gray;
}
.b-shadow-5-1-black{
    box-shadow: 0 0 5px 1px black;
}
.b-shadow-inset-5-1-gray{
    box-shadow: inset 0 0 5px 1px gray;
}
.b-shadow-inset-5-1-black{
    box-shadow: inset 0 0 5px 1px black;
}
/**
 * PICTUR BOX SIZE
 */
.pic-z10{
    width: 100px;
    height: 100px;
}
.pic-z90{
    width: 90px;
    height: 90px;
}
.pic-z90{
    width: 80px;
    height: 80px;
}
.pic-z70{
    width: 70px;
    height: 70px;
}
.pic-z60{
    width: 60px;
    height: 60px;
}
.pic-z50{
    width: 50px;
    height: 50px;
}
.pic-z40{
    width: 40px;
    height: 40px;
}
.pic-z30{
    width: 30px;
    height: 30px;
}
.pic-z20{
    width: 20px;
    height: 20px;
}
.pic-z10{
    width: 10px;
    height: 10px;
}
/**
 * HEIGHT
 */
.max-content-h{
    height: max-content;
}
.min-content-h{
    height: min-content;
}
.h100vh{
    height: 100vh;
}
.h10px{
    height: 10px;
}
.h20px{
    height: 20px;
}
.h30px{
    height: 30px;
}
.h40px{
    height: 40px;
}
.h50px{
    height: 50px;
}
.h60px{
    height: 60px;
}
.h70px{
    height: 70px;
}
.h80px{
    height: 80px;
}
.h90px{
    height: 90px;
}
.h100p{
    height: 100%;
}
.h100px{
    height: 100px;
}
.h200px{
    height: 200px;
}
.h300px{
    height: 300px;
}
.h400px{
    height: 400px;
}
.Mh100p{
    max-height: 100%;
}
.Mh100px{
    max-height: 100px;
}
.Mh200px{
    max-height: 200px;
}
.Mh300px{
    max-height: 300px;
}
.Mh400px{
    max-height: 400px;
}
.mh100p{
    min-height: 100%;
}
.mh100px{
    min-height: 100px;
}
.mh200px{
    min-height: 200px;
}
.mh300px{
    min-height: 300px;
}
.mh400px{
    min-height: 400px;
}
/**
 * WIDTH
 */
.max-content-w{
    width: max-content;
}
.min-content-w{
    width: min-content;
}
.w100p{
    width: 100%;
}
.w10px{
    width: 10px;
}
.w20px{
    width: 20px;
}
.w30px{
    width: 30px;
}
.w40px{
    width: 40px;
}
.w50px{
    width: 50px;
}
.w60px{
    width: 60px;
}
.w70px{
    width: 70px;
}
.w80px{
    width: 80px;
}
.w90px{
    width: 90px;
}
.w100px{
    width: 100px;
}
.w200px{
    width: 200px;
}
.w300px{
    width: 300px;
}
.w400px{
    width: 400px;
}
/**
 * MIN WIDTH
 */
.mw10p{
    min-width: 10px;
}
.mw20p{
    min-width: 20px;
}
.mw30p{
    min-width: 30px;
}
.mw40p{
    min-width: 40px;
}
.mw50p{
    min-width: 50px;
}
.mw60p{
    min-width: 60px;
}
.mw70p{
    min-width: 70px;
}
.mw80p{
    min-width: 80px;
}
.mw90p{
    min-width: 90px;
}
.mw100p{
    min-width: 100px;
}
.mw200p{
    min-width: 200px;
}
.mw300p{
    min-width: 300px;
}
.mw400p{
    min-width: 400px;
}
.mw500p{
    min-width: 500px;
}
.mw600p{
    min-width: 600px;
}
.mw700p{
    min-width: 700px;
}
.mw800p{
    min-width: 800px;
}
/**
 * MAX WIDTH
 */
.Mw10p{
    max-width: 10px;
}
.Mw20p{
    max-width: 20px;
}
.Mw30p{
    max-width: 30px;
}
.Mw40p{
    max-width: 40px;
}
.Mw50p{
    max-width: 50px;
}
.Mw60p{
    max-width: 60px;
}
.Mw70p{
    max-width: 70px;
}
.Mw80p{
    max-width: 80px;
}
.Mw90p{
    max-width: 90px;
}
.Mw100p{
    max-width: 100px;
}
.Mw200p{
    max-width: 200px;
}
.Mw300p{
    max-width: 300px;
}
.Mw400p{
    max-width: 400px;
}
.Mw500p{
    max-width: 500px;
}
.Mw600p{
    max-width: 600px;
}
.Mw700p{
    max-width: 700px;
}
.Mw800p{
    max-width: 800px;
}
/**
 * BORDERS
 */
.b1{
    border: solid 1px;
}
.b2{
    border: solid 2px;
}
.b3{
    border: solid 3px;
}
.b5{
    border: solid 5px;
}
.b6{
    border: solid 6px;
}
.b7{
    border: solid 7px;
}
.b8{
    border: solid 8px;
}
.b9{
    border: solid 9px;
}
.b10{
    border: solid 10px;
}
.b11{
    border: solid 11px;
}
/**
 * ORIENTACION
 */
.top0{
    top: 0px;
}
.top1{
    top: 1px;
}
.top2{
    top: 2px;
}
.top3{
    top: 3px;
}
.top4{
    top: 4px;
}
.top5{
    top: 5px;
}
.top6{
    top: 6px;
}
.top7{
    top: 7px;
}
.top8{
    top: 8px;
}
.top9{
    top: 9px;
}
.top10{
    top: 10px;
}
.top15{
    top: 15px;
}
.top20{
    top: 20px;
}
.top25{
    top: 25px;
}
.top30{
    top: 30px;
}
.top35{
    top: 35px;
}
.top40{
    top: 40px;
}
.top45{
    top: 45px;
}
.top50{
    top: 50px;
}
.top55{
    top: 55px;
}
.top60{
    top: 60px;
}
.top65{
    top: 65px;
}
.top70{
    top: 70px;
}
.top75{
    top: 75px;
}
.top80{
    top: 80px;
}
.top85{
    top: 85px;
}
.top90{
    top: 90px;
}
.top95{
    top: 95px;
}
.top100{
    top: 100px;
}
.bot0{
    bottom: 0px;
}
.bot10{
    bottom: 10px;
}
.bot15{
    bottom: 15px;
}
.bot20{
    bottom: 20px;
}
.bot25{
    bottom: 25px;
}
.bot30{
    bottom: 30px;
}
.bot35{
    bottom: 35px;
}
.bot40{
    bottom: 40px;
}
.bot45{
    bottom: 45px;
}
.bot50{
    bottom: 50px;
}
.bot55{
    bottom: 55px;
}
.bot60{
    bottom: 60px;
}
.bot65{
    bottom: 65px;
}
.bot70{
    bottom: 70px;
}
.bot75{
    bottom: 75px;
}
.bot80{
    bottom: 80px;
}
.bot85{
    bottom: 85px;
}
.bot90{
    bottom: 90px;
}
.bot95{
    bottom: 95px;
}
.bot100{
    bottom: 100px;
}
.bot100p{
    bottom: 100%;
}
.derecha0{
    right: 0px;
}
.derecha10{
    right: 10px;
}
.derecha15{
    right: 15px;
}
.derecha20{
    right: 20px;
}
.derecha25{
    right: 25px;
}
.derecha30{
    right: 30px;
}
.derecha35{
    right: 35px;
}
.derecha40{
    right: 40px;
}
.derecha45{
    right: 45px;
}
.derecha50{
    right: 50px;
}
.derecha55{
    right: 55px;
}
.derecha60{
    right: 60px;
}
.derecha65{
    right: 65px;
}
.derecha70{
    right: 70px;
}
.derecha75{
    right: 75px;
}
.derecha80{
    right: 80px;
}
.derecha85{
    right: 85px;
}
.derecha90{
    right: 90px;
}
.derecha95{
    right: 95px;
}
.derecha100{
    right: 100px;
}
.derecha100p{
    right: 100%;
}
.izquierda0{
    left: 0px;
}
.izquierda10{
    left: 10px;
}
.izquierda15{
    left: 15px;
}
.izquierda20{
    left: 20px;
}
.izquierda25{
    left: 25px;
}
.izquierda30{
    left: 30px;
}
.izquierda35{
    left: 35px;
}
.izquierda40{
    left: 40px;
}
.izquierda45{
    left: 45px;
}
.izquierda50{
    left: 50px;
}
.izquierda55{
    left: 55px;
}
.izquierda60{
    left: 60px;
}
.izquierda65{
    left: 65px;
}
.izquierda70{
    left: 70px;
}
.izquierda75{
    left: 75px;
}
.izquierda80{
    left: 80px;
}
.izquierda85{
    left: 85px;
}
.izquierda90{
    left: 90px;
}
.izquierda95{
    left: 95px;
}
.izquierda100{
    left: 100px;
}
.izquierda100p{
    left: 100%;
}
/**
 * Z-INDEX
 */
.index100{
    z-index: 100;
}
.index110{
    z-index: 110;
}
.index120{
    z-index: 120;
}
.index130{
    z-index: 130;
}
.index140{
    z-index: 140;
}
.index150{
    z-index: 150;
}
.index160{
    z-index: 160;
}
.index170{
    z-index: 170;
}
.index180{
    z-index: 180;
}
.index190{
    z-index: 190;
}
.index200{
    z-index: 200;
}
.index210{
    z-index: 210;
}
.index220{
    z-index: 220;
}
.index230{
    z-index: 230;
}
.index240{
    z-index: 240;
}
.index250{
    z-index: 250;
}
.index260{
    z-index: 260;
}
.index270{
    z-index: 270;
}
.index280{
    z-index: 280;
}
.index290{
    z-index: 290;
}
.index300{
    z-index: 300;
}
.index310{
    z-index: 310;
}
.index320{
    z-index: 320;
}
.index330{
    z-index: 330;
}
.index340{
    z-index: 340;
}
.index350{
    z-index: 350;
}
.index360{
    z-index: 360;
}
.index370{
    z-index: 370;
}
.index380{
    z-index: 380;
}
.index390{
    z-index: 390;
}
.index400{
    z-index: 400;
}
.index410{
    z-index: 410;
}
.index420{
    z-index: 420;
}
.index430{
    z-index: 430;
}
.index440{
    z-index: 440;
}
.index450{
    z-index: 450;
}
.index460{
    z-index: 460;
}
.index470{
    z-index: 470;
}
.index480{
    z-index: 480;
}
.index490{
    z-index: 490;
}
.index500{
    z-index: 500;
}
.index510{
    z-index: 510;
}
.index520{
    z-index: 520;
}
.index530{
    z-index: 530;
}
.index540{
    z-index: 540;
}
.index550{
    z-index: 550;
}
.index560{
    z-index: 560;
}
.index570{
    z-index: 570;
}
.index580{
    z-index: 580;
}
.index590{
    z-index: 590;
}
.index600{
    z-index: 600;
}
.index610{
    z-index: 610;
}
.index620{
    z-index: 620;
}
.index630{
    z-index: 630;
}
.index640{
    z-index: 640;
}
.index650{
    z-index: 650;
}
.index660{
    z-index: 660;
}
.index670{
    z-index: 670;
}
.index680{
    z-index: 680;
}
.index690{
    z-index: 690;
}
.index700{
    z-index: 700;
}
.index710{
    z-index: 710;
}
.index720{
    z-index: 720;
}
.index730{
    z-index: 730;
}
.index740{
    z-index: 740;
}
.index750{
    z-index: 750;
}
.index760{
    z-index: 760;
}
.index770{
    z-index: 770;
}
.index780{
    z-index: 780;
}
.index790{
    z-index: 790;
}
.index800{
    z-index: 800;
}
.index810{
    z-index: 810;
}
.index820{
    z-index: 820;
}
.index830{
    z-index: 830;
}
.index840{
    z-index: 840;
}
.index850{
    z-index: 850;
}
.index860{
    z-index: 860;
}
.index870{
    z-index: 870;
}
.index880{
    z-index: 880;
}
.index890{
    z-index: 890;
}
.index900{
    z-index: 900;
}
.index910{
    z-index: 910;
}
.index920{
    z-index: 920;
}
.index930{
    z-index: 930;
}
.index940{
    z-index: 940;
}
.index950{
    z-index: 950;
}
.index960{
    z-index: 960;
}
.index970{
    z-index: 970;
}
.index980{
    z-index: 980;
}
.index990{
    z-index: 990;
}
.index1000{
    z-index: 1000;
}
/**
 * OVERFLOW
 */
.overflow-auto{
    overflow: auto;
}
.overflow-hidden{
    overflow: hidden;
}
.scroll-x{
    overflow-x: scroll;
}
.scroll-y{
    overflow-y: scroll;
}
.auto-x{
    overflow-x: auto;
}
.auto-y{
    overflow-y: auto;
}
/**
 * FLEX
 */
.f-col{
    display: flex;
    flex-direction: column;
}
.f-row{
    display: flex;
}
.a-c{
    align-items: center;
}
.jc-c{
    justify-content: center;
}
.jc-a{
    justify-content: space-around;
}
.jc-b{
    justify-content: space-between;
}
.jc-e{
    justify-content: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}
.nowrap{
    flex-wrap: nowrap;
}

.self-end{
    align-self: flex-end;
}
.flex-1{
    display: flex;
    flex: 1;
}
/**
 * GAP'S
 */
.gap5{
    gap: 5px;
}
.gap10{
    gap: 10px;
}
/**
 * INPUTS
 */
.input{
    background-color: yellow;
}
.input-w-t{
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
}
.input-w-t > label{
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
/**
 * TABLAS
 */
.tabla{
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
}
tr{
    overflow: hidden;
}
.th{
    text-align: center;
    flex: 1;
}
td{
    text-align: center;
}
.sinpase:hover{
    cursor: pointer;
    transition: .3s;
    height: 85px;
}
.sinpase{
    transition: .3s;
    height: 40px;
}
/**
 * MODALITO
 */
.modalito{
    color: white;
    background-color: rgba(0, 0, 0, 0.494);
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.modal{
    position: absolute;
    visibility: hidden;
}
.modal:checked + div{
    visibility: visible;
    /* animation: bajar ease-in .3s; */
}
.modalito{
    position: absolute;
    z-index: 100;
}
.modal-cabecera{
    text-transform: uppercase;
    font-weight: bolder;
    background-color: rgb(43,43,43);
    padding: 15px;
}
.modalito > form{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.formulario{
    box-sizing: border-box;
    display: flex;
    gap: 10px;
}
input, textarea, button{
    border: none;
    outline: none;
}
@keyframes bajar{
    from{
        transform: translateY(-100vh);
    }
    to{
        transform: translateY(0vh);
    }
}